.form {
    justify-content: space-between;
    width: 280px;
    height: 90px;
}

.container {
    align-items: center;
}

.label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 700;
    color: rgb(96, 105, 99);
    font-size: 20px;
}

.input {
    margin-left: 10px;
}

.button {
    width: 100px;
    margin-left: 50%;
    /* color: rgb(96, 105, 99); */
    font-weight: 700;
    background-color: rgb(240, 241, 200);
    box-shadow: 0px -0px 10px 5px #6e6e6e;
    border: none;
    border-radius: 5px;
}